.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 50vh;
  padding: 20px;
}

.article {
  top: 473px;
  left: 290px;
  width: 680px;
  height: 220px;
  text-align: left;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.article > p {
  padding-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000;
}

.label {
  text-align: left;
}

.input {
  top: 441px;
  left: 870px;
  width: 340px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.contSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.btnInput {
  display: flex;
  justify-content: center;
  top: 670px;
  left: 870px;
  width: 340px;
  height: 39px;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #000000;
}
