.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #EFEFEF;
  font-family: "Dosis", sans-serif;
}

.titulo {
  overflow: hidden;
  text-align: center;
}

.titulo::before,
.titulo::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 21%;
}

.titulo::before {
  right: 0.5em;
  margin-left: -50%;
}

.titulo::after {
  left: 0.5em;
  margin-right: -50%;
}

.estoque {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 860px;
  left: 285px;
  width: 1050px;
  height: 870px;
  gap: 20px;
}

.containerBtn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  top: 670px;
  left: 870px;
  width: 340px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  opacity: 1;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(to bottom, #df4718 0%, #f1aa3f 100%);
  background-clip: padding-box;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
