.header {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
  color: #3a1e4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}
